@import './colors';
@import './mixins';

.album {
    margin-bottom: 65px;
}


.album__title_two {
    @include Montserrat-Alternates (700, 30px, 37px);
    margin-left: 135px;
    color: $black;
}

.download__btn_two {
    margin-left: 135px;
}

.album-container {
    background: url('/assets/images/album_printing_background.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 55px;
}

.album__title {
    @include Montserrat-Alternates (600, 30px, 37px);
    color: $white;
    padding: 0 0 40px 135px;
}

.album__info,
.album__info_desc {
    @include Montserrat-Alternates (400, 20px, 24px);
    color: $black-desc;
    margin: 0 135px 60px 135px
}

.album-price__info {
    display: flex;
    align-items: center;
}

.album-price__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
    margin-right: 30px;
}

.album__price {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #BD7048;
}

.album {

    // .album__items

    &__items {
        display: flex;
        justify-content: space-between;
        margin: 0 135px 0 135px;
    }

    // .album__buttons

    &__buttons {
        display: flex;
        align-items: center;
    }

    // .album__btn

    &__btn {
        background-color: $light-brown;
        color: $black;
    }

}

.album__btn:hover {
    background-color: $brown;
}


.buy {

    // .buy__btn

    &__btn {
        @include Montserrat-Alternates (600, 15px, 18px);
        color: $light-brown;
        background-color: $white;
    }
}

.buy__btn:hover {
    background-color: $white;
}


.album-price {

    // .budgeting-price__text

    &__text {
        @include Montserrat-Alternates (500, 20px, 24px);
        color: $light-black;
    }
}

.album__price {
    @include Montserrat-Alternates (600, 30px, 37px);
    color: $black;
}

@media (min-width: 455px) {
    .more__title {
        text-align: start;
        margin-left: 135px;
        margin-right: 135px;
    }
}

@media (min-width:600px) and (max-width: 1119.98px) {
    .more-features-container {
        grid-template-columns: 1fr 1fr;
        padding: 0 135px 0px 135px;
    }
}

@media (max-width: 722px) {

    .album__buttons {
        display: contents;
    }

    .album-price__info {
        display: contents;
    }

    .album__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-items: start;
    }

    .album-price__text {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .album__price {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .album__btn {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .buy__btn {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

@media (max-width: 500px) {

    .album__info,
    .album__items,
    .album__title,
    .album__info_desc {
        margin-right: 27px;
        margin-left: 27px;
    }

    .album__title {
        padding-left: 0%;
        font-size: 23px;
    }

    .buy__btn {
        grid-column: 1/2;
        grid-row: 4/5;
        padding-left: 0;
    }
}

@media (max-width: 1022.98px) {

    .download__btn_two,
    .album__title_two,
    .album__info_desc {
        display: none;
    }

    .album-container {
        height: 60vh;
    }
}