@import './colors';
@import './mixins';

body{
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    
}
.basket_container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.order_title{
    @include Montserrat-Alternates (600, 25px, 30px);
}

// первая часть заказа
.part-of-the-order{
    width: 330px;
    height: 138px;
    border: 1px solid $light-brown;
    border-radius: 15px;
    margin: 0 auto;
}

// Оформление чекбокса
.basket-label{
    margin-left: 31px;
}
.basket-label__checkbox{
    display: none;
}
.basket-label__check-mark{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    position: relative;
    margin-top: 15px;
}
.basket-label__check-mark::before{
    content: "";
    position: absolute;
    background-image:url(/assets/images/mark.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
}
.basket-label__checkbox:checked + .basket-label__check-mark::before{
    opacity: 1;
}
.basket-label__text{
    @include Montserrat-Alternates (500, 15px, 18px);
    color:$light-brown;
    margin-left: 21px;
}

// маркированный список
.part-of-the-order__item{
    @include Montserrat-Alternates (500, 10px, 12px);
    color:$light-black;
}
.part-of-the-order__price{
    @include Montserrat-Alternates (500, 20px, 24px);
    margin-left: 31px;
}

//вторая часть заказа
.design-project{
    border: none;
}

// дополнительные услуги
.additional-services{
    display: flex;
    flex-direction: column;
}
.add{
    margin-top: 45px;
}
.add-label{
    margin-left: 0;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
}
.add-text{
    @include Montserrat-Alternates (500, 15px, 18px);
    color:$light-black ;
    grid-column: 2/3;
    align-self: flex-end;
    margin-top: 3%;
}

// Стили
.basket-styles{
    display: flex;
    flex-direction: column;
}
// чекбокс стилей

.checkbox{
    display: none;
}
.check-cross{
    display: inline-block;
    position: relative;
    color: black;
    margin-left: 10%;
}
.check-cross::before{
    content: "";
    position: absolute;
    background-image:url(/assets/images/cross.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .2s;
    color: black;
    
}
.basket-styles_label__text{
    @include Montserrat-Alternates (500, 15px, 18px);
    color:$light-black;
}
