$black: #262626; // Цвет текста, иконки внутри кнопок, самой кнопки и футера
$white: #FFFFFF; // Цвет хэдера, текста и фона страниц
$red: #F14635; // Цвет кнопки внутри карточки


$dark-black: #000000; // Самый чёрный 
$light-white: rgba(255, 255, 255, 0.7); // Цвет текста
$light-brown: #BD7048; // Цвет кнопок и текста
$light-black: rgba(59, 59, 59, 0.5); // Цвет текста и текста внутри хэдера, футера
$light-pink: #FFDBC9; // Цвет кнопок и кнопок внутри карточек
$light-salmon: #FFF0E9; // Цвет фона карточек


$transparent-brown: rgba(189, 112, 72, 0.2); // Цвет нумерации
$black-desc: rgba(38, 38, 38, 0.7); // Цвет описания к вопросам
$brown-design: #DB916B; // Цвет фона дизайн-проекта в услугах и ценах