@import './colors';
@import './mixins';

.design {
    margin-bottom: 140px;
    margin-left: 135px;
    margin-right: 135px;
}

.design__title {
    text-align: center;
    margin-bottom: 40px;
}

.design__info {
    max-width: 1004px;
    margin: 0 auto 40px;
    text-align: center;
    @include Montserrat-Alternates (500, 20px, 24px);
    color: $black-desc;
}

.design-items__title {
    @include Montserrat-Alternates (500, 30px, 37px);
    color: $black;
    margin-bottom: 42px;
}

.design-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

.design-item {
    grid-column: span 1;
    width: 100%;
}

.design__img {
    display: inline-block;
    width: 100%;
    margin-bottom: 33px;
}

.design-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.design-item__name {
    @include Montserrat-Alternates (600, 20px, 24px);
    color: $black;
}

.btn__container {
    text-align: center;
}

.card__btn {
    display: flex;
    justify-items: center;
    @include Montserrat-Alternates (500, 15px, 18px);
    color: $light-brown;
    height: 56px;
    width: 195px;
    padding: 1px 39px;
    border: none;
    background: $light-gray;
    border-radius: 100px;
    transition: 0.3s;
}

.card__btn:hover {
    cursor: pointer;
    background: $gray;
}

.bag__img {
    margin-right: 12px;
    margin-top: 12px;
}

.design__catalog {
    display: inline-block;
}

.choose {
    display: inline-block;
    margin-top: 19px;
}

@media (max-width: 1023px) {

    .design__info {
        display: none;
    }

    .design {
        margin: 40px;
        margin-left: 0%;
        margin-right: 0%;
    }

    .design-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-bottom: 100px;
    }
}