@import './colors';
@import './mixins';
body{
  width: 100%;
  max-width: 100%; 
}
.wrapper{
  padding: 0 33px;
}
.our-styles__title{
    @include Montserrat-Alternates (700, 25px, 30px);
    text-align: center;
    margin-top: 10%;
}
.our-styles__title-desktop, .our-styles__text-desktop{
  display: none;
}
@media (min-width: 640px) {
  .our-styles__title{
    font-size: calc(25px + 10 * (100vw / 1440)) ;
  }
  .wrapper{
    padding: 0 90px;
  }
  .our-styles__title{
    display: none;
  }
  .our-styles__title-desktop{
    display: block;
    @include Montserrat-Alternates (700, 30px, 49px);
    text-align: center;
    margin-top: 10%;
  }
  .our-styles__text-desktop{
    display: block;
    @include Montserrat-Alternates (500, 20px, 24px);
    text-align: center;
    margin-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) {
  .wrapper{
    padding: 0 130px;
  }
  .our-styles__title{
    display: none;
  }
  .our-styles__title-desktop{
    display: block;
    @include Montserrat-Alternates (700, 40px, 49px);
    text-align: center;
    margin-top: 10%;
  }
  .our-styles__text-desktop{
    display: block;
    @include Montserrat-Alternates (500, 20px, 24px);
    text-align: center;
    margin-top: 3%;
    margin-left: 70px;
    margin-right: 70px;
  }
}

.room__title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    @include Montserrat-Alternates (500, 20px, 30px);
    margin-top: 10%;
}
@media (min-width: 1440px) {
  .room__title{ 
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    justify-content: center;
    align-items: center;
    @include Montserrat-Alternates (500, 30px, 36px);
    margin-top: 10%;
  }
  .carousel-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.hallway{
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    justify-content: center;
    align-items: center;
}
.carousel, .slide{
    width: 100%;
    margin: 0 auto;

}
.signature_slider{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 5%;
}
.slider-title{
    grid-column: 1/2;
    @include Montserrat-Alternates (600, 20px, 24px);
    align-self: center;
    justify-self: center;
}
.slider-btn{
    display: flex;
    grid-column: 2/3;
    @include Montserrat-Alternates (500, 15px, 18px);
    color: $light-brown;
    background-color:#FAFAFA;
    border-radius: 100px;
    justify-content: end;
    align-items: center;
    width: 155px;
    height: 46px;
    border: none;
}
.slider-btn__text{
    margin: 0 auto;
}
.designs-container{
  display: none;
}
@media (min-width: 1440px) {
  .slide, .room__title{
    display: none;
  }
  .designs-container{
    display: block;
  }
  .design {
    margin-bottom: 140px;
    margin-left: 135px;
    margin-right: 135px;
}

.design__title {
    text-align: center;
    margin-bottom: 40px;
}

.design__info {
    max-width: 1004px;
    margin: 0 auto 40px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
}

.design-items__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #262626;
    margin-bottom: 42px;
}

.design-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

.design-item {
    grid-column: span 1;
    width: 100%;
}

.design__img {
    display: inline-block;
    width: 100%;
    margin-bottom: 33px;
}

.design-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.design-item__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #353535;
}

.btn__container {
    text-align: center;
}

.card__btn {
    display: flex;
    justify-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #bd7048;
    height: 56px;
    width: 182px;
    padding: 1px 39px;
    border: none;
    background: #fafafa;
    border-radius: 100px;
    transition: 0.3s;
}

.card__btn:hover {
    background: #e4dede;
}

.bag__img {
    margin-right: 12px;
    margin-top: 12px;
}

.design__catalog {
    display: inline-block;
}

.choose {
    display: inline-block;
    margin-top: 17px;
}
}
.styles-btn{
    display: block;
    width: 285px;
    height: 74px;
    color: #FFFFFF;
    background-color: $light-brown;
    @include Montserrat-Alternates (600, 15px, 18px);
    border-radius: 100px;
    margin: 15% auto 0 auto;
    border: none;
    padding: 0;
}
@media (min-width: 640px) {
  .styles-btn{
    font-size: calc(15px + 10 * (100vw / 1440)) ;
    min-width: 400px;
    min-height: 85px;
    margin-top: 5%;
  }
}

.half {
    width: 100%;
    margin: 15% auto 0 auto;
  }
  .questions__title{
    @include Montserrat-Alternates (700, 20px, 24px);
    color: $black;
    text-align: center;
  }
  @media (min-width: 640px) {
    .questions__title{
      font-size: calc(20px + 10 * (100vw / 1440));
      margin-top:3% ;
    }
  }
  @media (min-width: 1440px) {
    .questions__title{
      @include Montserrat-Alternates (700, 40px, 48px);
      margin-top:5%;
    }
  }
  
  /* Acordeon styles */
  .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    margin-top: 5%;
    /*overflow: hidden;*/
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label {
    width: 100%;
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #FAFAFA;
    @include Montserrat-Alternates (600, 15px, 18px);
    line-height: 3;
    color:$black;
    border-radius: 10%;
  }
  @media (min-width: 640px) {
    .tab label{
      font-size: calc(15px + 10 * (100vw / 1440)) ;
    }
  }
  @media (min-width: 1440px) {
    .tab label{
      @include Montserrat-Alternates (600, 20px, 24px);
      height: 90px;
      text-align: start;
      display: block;
      align-self: center;
      padding-top: 3%;
    }
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    color:#262626;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  .tab-content p {
    margin: 1em;
    @include Montserrat-Alternates (500, 15px, 18px);
  }

  @media (min-width: 640px) {
    .tab-content p{
      font-size: calc(15px + 10 * (100vw / 1440)) ;
    }
  }
  @media (min-width: 1440px) {
    .tab-content p{
      @include Montserrat-Alternates (500, 20px, 24px);
    }
  }
  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  /* Icon */
  .tab label::after {
    position: absolute;
    right:0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=checkbox] + label::after {
    content: "+";
  }
  .tab input[type=radio] + label::after {
    content: "\25BC";
    color: $light-brown;
  }
  .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
    color: $light-brown;
  }
  .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }
  