@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat Regular.eot');
    src: url('Montserrat Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat Regular.woff2') format('woff2'),
        url('Montserrat Regular.woff') format('woff'),
        url('Montserrat Regular.ttf') format('truetype'),
        url('Montserrat Regular.svg#Montserrat Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('Montserrat Medium.eot');
    src: url('Montserrat Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat Medium.woff2') format('woff2'),
        url('Montserrat Medium.woff') format('woff'),
        url('Montserrat Medium.ttf') format('truetype'),
        url('Montserrat Medium.svg#Montserrat Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates SemiBold';
    src: url('Montserrat Alternates SemiBold.eot');
    src: url('Montserrat Alternates SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat Alternates SemiBold.woff2') format('woff2'),
        url('Montserrat Alternates SemiBold.woff') format('woff'),
        url('Montserrat Alternates SemiBold.ttf') format('truetype'),
        url('Montserrat Alternates SemiBold.svg#Montserrat Alternates SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates Medium';
    src: url('Montserrat Alternates Medium.eot');
    src: url('Montserrat Alternates Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat Alternates Medium.woff2') format('woff2'),
        url('Montserrat Alternates Medium.woff') format('woff'),
        url('Montserrat Alternates Medium.ttf') format('truetype'),
        url('Montserrat Alternates Medium.svg#Montserrat Alternates Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('Montserrat Alternates Regular.eot');
    src: url('Montserrat Alternates Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat Alternates Regular.woff2') format('woff2'),
        url('Montserrat Alternates Regular.woff') format('woff'),
        url('Montserrat Alternates Regular.ttf') format('truetype'),
        url('Montserrat Alternates Regular.svg#Montserrat Alternates Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('Montserrat Alternates Bold.eot');
    src: url('Montserrat Alternates Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat Alternates Bold.woff2') format('woff2'),
        url('Montserrat Alternates Bold.woff') format('woff'),
        url('Montserrat Alternates Bold.ttf') format('truetype'),
        url('Montserrat Alternates Bold.svg#Montserrat Alternates Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}