@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat Regular.eot');
    src: url('/assets/fonts/Montserrat Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat Regular.woff2') format('woff2'),
        url('/assets/fonts/Montserrat Regular.woff') format('woff'),
        url('/assets/fonts/Montserrat Regular.ttf') format('truetype'),
        url('/assets/fonts/Montserrat Regular.svg#Montserrat Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('/assets/fonts/Montserrat Medium.eot');
    src: url('/assets/fonts/Montserrat Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat Medium.woff2') format('woff2'),
        url('/assets/fonts/Montserrat Medium.woff') format('woff'),
        url('/assets/fonts/Montserrat Medium.ttf') format('truetype'),
        url('/assets/fonts/Montserrat Medium.svg#Montserrat Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates SemiBold';
    src: url('/assets/fonts/Montserrat Alternates SemiBold.eot');
    src: url('/assets/fonts/Montserrat Alternates SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat Alternates SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Montserrat Alternates SemiBold.woff') format('woff'),
        url('/assets/fonts/Montserrat Alternates SemiBold.ttf') format('truetype'),
        url('/assets/fonts/Montserrat Alternates SemiBold.svg#Montserrat Alternates SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates Medium';
    src: url('/assets/fonts/Montserrat Alternates Medium.eot');
    src: url('/assets/fonts/Montserrat Alternates Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat Alternates Medium.woff2') format('woff2'),
        url('/assets/fonts/Montserrat Alternates Medium.woff') format('woff'),
        url('/assets/fonts/Montserrat Alternates Medium.ttf') format('truetype'),
        url('/assets/fonts/Montserrat Alternates Medium.svg#Montserrat Alternates Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/assets/fonts/Montserrat Alternates Regular.eot');
    src: url('/assets/fonts/Montserrat Alternates Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat Alternates Regular.woff2') format('woff2'),
        url('/assets/fonts/Montserrat Alternates Regular.woff') format('woff'),
        url('/assets/fonts/Montserrat Alternates Regular.ttf') format('truetype'),
        url('/assets/fonts/Montserrat Alternates Regular.svg#Montserrat Alternates Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/assets/fonts/Montserrat Alternates Bold.eot');
    src: url('/assets/fonts/Montserrat Alternates Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat Alternates Bold.woff2') format('woff2'),
        url('/assets/fonts/Montserrat Alternates Bold.woff') format('woff'),
        url('/assets/fonts/Montserrat Alternates Bold.ttf') format('truetype'),
        url('/assets/fonts/Montserrat Alternates Bold.svg#Montserrat Alternates Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}