@import './colors';
@import './mixins';

.work {
    margin-bottom: 120px;
}

.work__title {
    width: fit-content;
    margin-left: 12%;
    margin-bottom: 0%;
}

.work-container {
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
}


.work-content {
    max-width: 430px;
}

.work-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.work-item__num {
    display: inline-block;
    @include Montserrat-Alternates (700, 70px, 83px);
    color: $transparent-brown;
}

.work-item__content {
    max-width: 290px;
    margin-left: 45px;
}

.work-item__title {
    @include Montserrat-Alternates (500, 20px, 24px);
    color: $black;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 280px
}

.work-item__text {
    @include Montserrat-Alternates (500, 15px, 18px);
    color: rgba(38, 38, 38, 0.7);
    margin-top: 2%;
}


.work__pic_sofa {
    display: block;
}

.work__img {
    width: 100%;
}

.work-items {
    margin-top: 19%;
}

@media (max-width: 1023px) {

    .work {
        margin-bottom: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .work__pic_sofa {
        display: none;
    }

    .work__title {
        width: fit-content;
        margin-left: 0%;
        margin-bottom: 0%;
    }

    .work-container {
        margin-left: 0;
        display: block;
    }

    .work-items {
        margin-top: 0;
    }

    .work-item__content {
        margin-left: 0;
    }

    .section__title {
        text-align: center;
    }

    .work-item__title {
        width: fit-content;
    }
}

@media (max-width: 361px) {
    .work {
        display: block;
    }
}