@import './colors';
@import './mixins';

.answer {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    @include Montserrat-Alternates (500, 20px, 24px);
    color: $black-desc;
}

.question-input:checked+.question-label+.answer {
    height: auto;
    padding: 10px 0;
    background-color: $white;
}

.question-input {
    display: none;
}

.svg-que:hover {
    transition: 0.2s;
    transform: matrix(0.71, 0.69, -0.73, 0.71, 0, 0);
    fill: $light-brown;
    cursor: pointer;
}

.svg-que {
    fill: #2E2E2E;
}

.que {
    margin: 0%;
    margin-top: 19px;
    margin-left: 20px;
    width: fit-content;
    @include Montserrat-Alternates (600, 20px, 24px);
    color: $black;
}

.question-item {
    margin-bottom: 15px;
    margin-left: 135px;
    margin-right: 135px;
}

.question-item__plus {
    display: flex;
    padding: 10px;
    padding-left: 1%;
    border-radius: 100px;
    background: $light-gray;
}

.questions__title {
    margin-bottom: 55px;
    text-align: center;
}

@media (max-width: 1023px) {

    .question-item {
        margin-left: 40px;
        margin-right: 40px;
    }
}