<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/css/normalize.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="design">
            <div class="container">
                <h2 class="design__title section__title">Дизайн комнат</h2>
                <p class="design__info">
                    Выбирая дизайн комнаты, вы получаете смету со списком всех
                    предметов в интерьере, названиями, артикулами, цветом стен и
                    так далее.
                </p>
                <div class="designs-container">
                    <div class="design-items__container">
                        <h3 class="design-items__title">Гостиные</h3>
                        <div class="design-items">
                            <div class="design-item">
                                <img
                                    src="/assets/images/living_room_one.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Акварель</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                            <div class="design-item">
                                <img
                                    src="/assets/images/living_room_two.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Ира</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                            <div class="design-item">
                                <img
                                    src="/assets/images/living_room_three.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Нурс</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="design-items__container">
                        <h3 class="design-items__title">Детские</h3>
                        <div class="design-items">
                            <div class="design-item">
                                <img
                                    src="/assets/images/childrens_room_one.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Синяя</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                            <div class="design-item">
                                <img
                                    src="/assets/images/childrens_room_two.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Розовая</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                            <div class="design-item">
                                <img
                                    src="/assets/images/childrens_room_three.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Яркая</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="design-items__container">
                        <h3 class="design-items__title">Коридоры - прихожие</h3>
                        <div class="design-items">
                            <div class="design-item">
                                <img
                                    src="/assets/images/hallway_one.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Ирина</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                            <div class="design-item">
                                <img
                                    src="/assets/images/hallway_two.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Акварель</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                            <div class="design-item">
                                <img
                                    src="/assets/images/hallway_three.png"
                                    alt="design"
                                    class="design__img"
                                />
                                <div class="design-item__info">
                                    <p class="design-item__name">Кадыр</p>
                                    <button class="card__btn">
                                        <img
                                            src="/assets/images/bag.svg"
                                            alt="bag"
                                            class="bag__img"
                                        />
                                        <p class="choose">Выбрать</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="btn__container">
                <a href="#" class="design__catalog btn">К каталогу комнат</a>
            </p>
        </section>
    </body>
</html>
