<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/normalize.css" />
    <link rel="stylesheet" href="/styles/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Our styles</title>
</head>

<body>
    <div class="wrapper">
    <div class="our-styles">
        <h1 class="our-styles__title">Наши стили</h1>
        <h1 class="our-styles__title-desktop">Дизайн комнат</h1>
        <p class="our-styles__text-desktop">Выбирая дизайн комнаты, вы получаете смету со списком всех предметов в интерьере, 
        названиями, артикулами, цветом стен и так далее.</p>
        <div class="room">

            <!--  Слайдер -->
        <div class="room__title">
            <h2>Гостиные</h2>
            <hr>
        </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner slides-desktop">
                    <div class="carousel-item active">
                        <img src="../assets/images/bedroom_one.png" class="d-block w-285px slide" alt="...">
                        <div class="signature_slider">
                            <div class="slider-title">Акварель</div>
                    <button class="slider-btn">
                        <img src="../assets/images/bag.svg" alt="">
                        <span class="slider-btn__text">Выбрать</span>
                    </button>
                </div>
                    </div>
                    <div class="carousel-item ira">
                        <img src="../assets/images/bedroom_two.png" class="d-block w-285px slide" alt="...">
                        <div class="signature_slider">
                        <div class="slider-title">Ира</div>
                <button class="slider-btn">
                    <img src="../assets/images/bag.svg" alt="">
                    <span class="slider-btn__text">Выбрать</span>
                </button>
            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/bedroom_three.png" class="d-block w-285px slide" alt="...">
                        <div class="signature_slider">
                            <div class="slider-title">Нурс</div>
                    <button class="slider-btn">
                        <img src="../assets/images/bag.svg" alt="">
                        <span class="slider-btn__text">Выбрать</span>
                    </button>
                </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--  гостиные адаптив -->
            <div class="room-adaptive">
                
            </div>

<!--  Слайдер -->
    <div class="room__title">
        <h2>Детские</h2>
        <hr>
    </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/images/childrens_room_one.png" class="d-block w-285px slide" alt="...">
                    <div class="signature_slider">
                        <div class="slider-title">Синяя</div>
                <button class="slider-btn">
                    <img src="../assets/images/bag.svg" alt="">
                    <span class="slider-btn__text">Выбрать</span>
                </button>
            </div>
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/childrens_room_two.png" class="d-block w-285px slide" alt="...">
                    <div class="signature_slider">
                    <div class="slider-title">Розовая</div>
            <button class="slider-btn">
                <img src="../assets/images/bag.svg" alt="">
                <span class="slider-btn__text">Выбрать</span>
            </button>
        </div>
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/childrens_room_three.png" class="d-block w-285px slide" alt="...">
                    <div class="signature_slider">
                        <div class="slider-title">Яркая</div>
                <button class="slider-btn">
                    <img src="../assets/images/bag.svg" alt="">
                    <span class="slider-btn__text">Выбрать</span>
                </button>
            </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
<!--  Слайдер -->
    <div class="room__title hallway">
        <h2>Коридоры - прихожие</h2>
        <hr>
    </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/images/hallway_one.png" class="d-block w-285px slide" alt="...">
                        <div class="signature_slider">
                            <div class="slider-title">Ирина</div>
                    <button class="slider-btn">
                        <img class="slider-btn__icon" src="../assets/images/bag.svg" alt="">
                        <span class="slider-btn__text">Выбрать</span>
                    </button>
                </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/hallway_two.png" class="d-block w-285px slide" alt="...">
                        <div class="signature_slider">
                        <div class="slider-title">Акварель</div>
                <button class="slider-btn">
                    <img src="../assets/images/bag.svg" alt="">
                    <span class="slider-btn__text">Выбрать</span>
                </button>
            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/images/hallway_three.png" class="d-block w-285px slide" alt="...">
                        <div class="signature_slider">
                            <div class="slider-title">Кадыр</div>
                    <button class="slider-btn">
                        <img src="../assets/images/bag.svg" alt="">
                        <span class="slider-btn__text">Выбрать</span>
                    </button>
                </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div>
        <button class="styles-btn">К каталогу стилей</button>
    </div>
    </div>
<!--  Блок c Вопросами -->
    <div class="half">
        <p class="questions__title">Часто задаваемые вопросы</p>
        <div class="tab">
          <input id="tab-one" type="checkbox" name="tabs">
          <label for="tab-one">Вопрос 1</label>
          <div class="tab-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque culpa enim odio autem quos sequi laboriosam quae architecto, similique quisquam?</p>
          </div>
        </div>
        <div class="tab">
          <input id="tab-two" type="checkbox" name="tabs">
          <label for="tab-two">Вопрос 2</label>
          <div class="tab-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, perspiciatis optio. Molestiae, sapiente iste. Nesciunt consequuntur voluptates dicta quaerat ipsam quas, incidunt explicabo. Molestiae, debitis officia facere beatae repudiandae iste.</p>
          </div>
        </div>
        <div class="tab">
          <input id="tab-three" type="checkbox" name="tabs">
          <label for="tab-three">Вопрос 3</label>
          <div class="tab-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel cumque aut officiis blanditiis inventore dignissimos minus sequi repellendus aperiam similique voluptas ea soluta tenetur nisi quod eum, qui ipsam dolorem, sapiente culpa incidunt! Odio repudiandae voluptates consectetur accusamus esse ipsam.</p>
          </div>
        </div>

        <div class="tab">
            <input id="tab-four" type="checkbox" name="tabs">
            <label for="tab-four">Вопрос 4</label>
            <div class="tab-content">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel cumque aut officiis blanditiis inventore dignissimos minus sequi repellendus aperiam similique voluptas ea soluta tenetur nisi quod eum, qui ipsam dolorem, sapiente culpa incidunt!</p>
            </div>
          </div>
      </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script> 
</body>

</html>