<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/css/normalize.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <footer class="footer">
            <div class="footer-logo">
                <a href="#" class="footer-logo__img"></a>
                <span class="footer-logo__desc">дизайн интерьеров</span>
            </div>
            <div class="footer-nav">
                <a href="#" class="footer-nav__link">Главная</a>
                <a href="#" class="footer-nav__link">О нас</a>
                <a href="#" class="footer-nav__link">Цены</a>
            </div>
            <div class="footer-text">
                <a href="#" class="footer-text__privacy"
                    >Политика конфиденциальности</a
                >
                <a href="#" class="footer-text__privacy">Условия пользования</a>
            </div>
            <div class="footer-info">
                <button class="footer-info__btn" type="button"></button>
                <span class="footer-info__call">+7 700 505 3000</span>
                <span class="footer-info__time">с 9:00 до 18:00</span>
            </div>
            <div class="footer-content">
                <span class="footer-content__copy"
                    >(с) 2022. Все права защищены.</span
                >
            </div>
        </footer>
    </body>
</html>
