<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/css/normalize.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <header class="header">
            <a href="#" class="header__logo"></a>
            <span class="header__desc">дизайн интерьеров</span>
            <div class="hamburger-menu">
                <input id="hamburger-menu__toggle" type="checkbox" />
                <label class="hamburger-menu__btn" for="hamburger-menu__toggle">
                    <span></span>
                </label>
                <ul class="hamburger-menu__box">
                    <li>
                        <a class="hamburger-menu__item" href="#">Главная</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__item" href="#">Каталог</a>
                    </li>
                    <li><a class="hamburger-menu__item" href="#">О нас</a></li>
                    <li>
                        <a class="hamburger-menu__item" href="#">Цены</a>
                    </li>
                </ul>
            </div>
        </header>
    </body>
</html>
