<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/css/normalize.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="work">
            <div class="container-bg">
                <h2 class="work__title section__title">Как это работает?</h2>
                <div class="work-container">
                    <div class="work-content">
                        <ul class="work-items">
                            <li class="work-item">
                                <span class="work-item__num">01</span>
                                <div class="work-item__content">
                                    <h4 class="work-item__title">
                                        Выбор состава проекта
                                    </h4>
                                    <p class="work-item__text">
                                        Выберите состав вашего проекта: только
                                        планировка или дизайн-проект
                                    </p>
                                </div>
                            </li>
                            <li class="work-item">
                                <span class="work-item__num">02</span>
                                <div class="work-item__content">
                                    <h4 class="work-item__title">
                                        Настройка проекта
                                    </h4>
                                    <p class="work-item__text">
                                        Отметьте в корзине нужен ли вам
                                        профессиональный замер, подбор
                                        строительной бригады или точный просчет
                                        сметы
                                    </p>
                                </div>
                            </li>
                            <li class="work-item">
                                <span class="work-item__num">03</span>
                                <div class="work-item__content">
                                    <h4 class="work-item__title">
                                        Создание чертежей
                                    </h4>
                                    <p class="work-item__text">
                                        Наши дизайнеры спроектируют интерьер,
                                        подготовят чертежи.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="work__pic_table">
                        <img
                            src="/assets/images/table.png"
                            alt="table"
                            class="work__img"
                        />
                    </div>
                    <div class="work__pic_sofa">
                        <img
                            src="/assets/images/sofa.png"
                            alt="sofa"
                            class="work__img"
                        />
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
