
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/Styles/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/css/style.css" />

    
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
    <div class="howitworks">
        <h2 class="howitworks__title">Как это работает?</h2>
        <div class="howitworks__item">
                <div class= "howitworks-image01"><img class="howitworks__item__item01 howitworks-image" src="assets/images/howitworks/01.svg" alt="image01"></div> 
                <div class="howitworks__item_item01">
                <p class="howitworks__item__item01 howitworks-subtitle">Выбор состава проекта</p>
                <p class="howitworks__item__item01">Выберите состав вашего проекта: только планировка или дизайн-проект</p></div>
                <div class= "howitworks-image02"><img class="howitworks__item__item02 howitworks-image" src="assets/images/howitworks/02.svg" alt="image02"></div>
                <div class="howitworks__item_item02">
                <p class="howitworks__item__item02 howitworks-subtitle">Настройка проекта</p>
                <p class="howitworks__item__item02">Отметьте в корзине нужен ли вам профессиональный замер, подбор строительной бригады или точный просчет сметы</p></div>
                <div class= "howitworks-image03"> <img class="howitworks__item__item03 howitworks-image" src="assets/images/howitworks/03.svg" alt="image03"></div>
                <div class="howitworks__item_item03">
                <p class="howitworks__item__item03 howitworks-subtitle">Создание чертежей </p>
                <p class="howitworks__item__item03">Наши дизайнеры спроектируют интерьер, подготовят чертежи.</p></div>
        </div>
        <div class="howitworks__photos">
            <div class="howitworks__photos greencoach"><img src="assets/images/greencoach.png" alt="greencoach"></div>
            <div class="howitworks__photos table"><img src="assets/images/table.png" alt="table"></div>
        </div>
    </div>
    <div class="Ourservices">
        <p class="Ourservices__title">Наши услуги</p>
        <div class="item__content">
            <div class="item__content__item_image">
        <div class="item_image1"> <img src="assets/images/image 491.svg" alt="plan491"></div>
        <div class="item_image2"> <img src="assets/images/image531.svg" alt="plan531"></div>
        <div class="item_image3"> <img src="assets/images/back1.svg" alt="back1"></div>
            </div>
        <div class="item__content__info">
            <p class="item__content_subtitle">Планировка за 99 000 ₸</p>
            <p class="item__content_time">Срок выполнения: <span class="time">5 дней</span></p>
            <p class="item__content_description">Мы разработаем для вас уникальное планировочное решение квартиры, 
                которое будет соответствовать как нормам эргономики, так и вашим личным пожеланиям, 
                а также подготовим чертеж для согласования планировки. </p>
                <div class="item__content_list">
                <img class="lineshot" src="assets/images/Lineshort.svg" alt="lineshot">
                <ul class="item__content_list">
                    <li>2 варианта планировки + финальный</li>
                    <li>обмерный план</li>
                    <li>план демонтажа стен</li>
                    <li>план монтажа перегородок</li>
                </ul>
            </div>  
        </div>
        <div class="item__example">
            <button class="btn" href="#" alt="btn_submitap">
                <span class="btn__submitapp">Оставить заявку</span>
            </button>
            <img class="item__example_image" href="#" src="assets/images/pdf.svg" alt="example">
            <p class="item__example_text">Посмотреть пример</p>
        </div>
    </div>
    </div>
    <div class="design">
        <div class="design__item__content">
            <div class="design__item__content__item_image">
        <div class="design_item_image1"> <img src="assets/images/image492.svg" alt="plan492"></div>
        <div class="design_item_image2"> <img src="assets/images/image552.svg" alt="plan552"></div>
        <div class="design_item_image3"> <img src="assets/images/back2.svg" alt="back2"></div>
        <div class="design__item__content__info">
        <p class="item__content_subtitle subtitle-249">Дизайн-проект за 199 000 ₸</p>
        <p class="item__content_time">Срок выполнения: <span class="time">14 дней</span></p>
        <p class="item__content_description">Разработаем планировочное решение вашей квартиры, далее на его основе мы подготовим альбом, 
            состоящий из 12 чертежей, необходимых строителям для ремонта.</p>
            <div class="item__content_list">
                <img src="assets/images/Linebig.svg" alt="linebig">
            <ul class="item__content_list design-249">
                <li>2 варианта планировки + финальный</li>
                <li>планы демонтажа и монтажа стен</li>
                <li>розетки, выключатели, освещение</li>
                <li>сантехника</li>
                <li>план потолка</li>
                <li>план пола и плинтусов</li>
                <li>план дверей</li>
            </ul>
        </div>
    

    <div class="design__item__example">
    <button class="btn design-249" href="#" alt="btn_submitap">
        <span class="btn__submitapp">Оставить заявку</span>
    </button>

        <img class="item__example_image" href="#" src="assets/images/pdf.svg"  alt="example">
        <p class="item__example_text">Посмотреть пример</p>
    </div>
</div>
</div>

        </div>
</div>
</div>

</body>
</html>