<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/css/normalize.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="services">
            <div class="container-bg">
                <h2 class="services__title section__title">Наши услуги</h2>
                <div class="services-container services__odd">
                    <div class="services-content">
                        <h3 class="services-content__title">
                            Планировка за 99 000 ₸
                        </h3>
                        <p class="services-content__subtext">
                            Срок выполнения:
                            <span class="black-text">5 дней</span>
                        </p>
                        <p class="services-content__text">
                            Мы разработаем для вас уникальное планировочное
                            решение квартиры, которое будет соответствовать как
                            нормам эргономики, так и вашим личным пожеланиям, а
                            также подготовим чертеж для согласования планировки.
                        </p>
                        <ul class="services-list">
                            <li class="services__item">
                                2 варианта планировки + финальный
                            </li>
                            <li class="services__item">обмерный план</li>
                            <li class="services__item">план демонтажа стен</li>
                            <li class="services__item">
                                план монтажа перегородок
                            </li>
                        </ul>
                        <div class="services-btns">
                            <a href="#" class="services__btn btn"
                                >Оставить заявку</a
                            >
                            <a
                                href="/assets/images/pdf.svg"
                                class="download__btn"
                                download
                                >Посмотреть пример</a
                            >
                        </div>
                    </div>
                    <div class="services__pic">
                        <img
                            src="/assets/images/wall_mounting.png"
                            alt="services"
                            class="services__img_one"
                        />
                        <img
                            src="/assets/images/furniture_arrangement.png"
                            alt="services"
                            class="services__img_two"
                        />
                    </div>
                </div>
                <div class="services-container services__even">
                    <div class="services__pic">
                        <img
                            src="/assets/images/sockets_switches.png"
                            alt="services"
                            class="services__img_three"
                        />
                        <img
                            src="/assets/images/bathroom_plan.png"
                            alt="services"
                            class="services__img_four"
                        />
                    </div>
                    <div class="services-content services-content_r">
                        <h3 class="services-content__title">
                            Дизайн-проект за 199 000 ₸
                        </h3>
                        <p class="services-content__subtext">
                            Срок выполнения:
                            <span class="black-text">14 дней</span>
                        </p>
                        <p class="services-content__text">
                            Разработаем планировочное решение вашей квартиры,
                            далее на его основе мы подготовим альбом, состоящий
                            из 12 чертежей, необходимых строителям для ремонта.
                        </p>
                        <ul class="services-list">
                            <li class="services__item">
                                2 варианта планировки + финальный
                            </li>
                            <li class="services__item">
                                планы демонтажа и монтажа стен
                            </li>
                            <li class="services__item">
                                розетки, выключатели, освещение
                            </li>
                            <li class="services__item">сантехника</li>
                            <li class="services__item">план потолка</li>
                            <li class="services__item">
                                план пола и плинтусов
                            </li>
                            <li class="services__item">план дверей</li>
                        </ul>
                        <div class="services-btns">
                            <a href="#" class="services__btn btn"
                                >Оставить заявку</a
                            >
                            <a
                                href="/assets/images/pdf.svg"
                                class="download__btn"
                                download
                                >Посмотреть пример</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
