<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/css/normalize.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="plan">
            <div class="container">
                <div class="plan-container">
                    <div class="plan__pic">
                        <img
                            src="/assets/images/tasks.png"
                            alt="plan"
                            class="plan__img"
                        />
                    </div>
                    <div class="plan__content">
                        <h4 class="plan__title">Планируете ремонт?</h4>
                        <p class="plan__text">
                            Ответьте на несколько вопросов и получите бесплатный
                            чек-лист по ремонту
                        </p>
                        <a href="#" class="plan__btn btn">Получить чек-лист</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
